.reviews {
    padding: 2rem 7%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 3rem;
    text-align: center;
}
.reviews-details img{
    width: 40%;
    height: 56%;
    border-radius: 50%;
}
.reviews-details h1 {
    margin-top: 10px;
}
.icons {
    color: #daaf07;
    margin: 10px 0; 
}