.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.navbar ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navbar ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.logOut{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 15px;
}
.navbar ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}